@import "tailwindcss";

@theme {
  --color-neon-purple: #ff00ff;
  --color-neon-yellow: #ffff00;
  --color-deep-space: #1a0033;
}

body {
  background-color: var(--color-deep-space);
  color: var(--color-neon-yellow);
  font-family: 'Courier New', Courier, monospace;
}
